.video{
    height: 100vh;
    min-width: 100%;
    position:fixed;
    z-index:-1;
}

h1{
    font-size: 70px;
}

h2{
    font-size: 50px;
}

@media (orientation: portrait){
    
    .video{
        height: 100vh;
        position:fixed;
        z-index:-1;
        width: auto;
    }
    h1{
        font-size: 50px;
    }
    
    h2{
        font-size: 30px;
    }
}

.footer {
    z-index: 2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  .contiene{
     margin: auto;
     display: inline-flex;
  }
  .texto_footer{
    font-weight: 500;
    overflow: none;
    white-space: nowrap;
    margin-top: 23px;
    }
    body{
        background: #282828;
    }